/* Register / Login */
.registerModal,
.loginModal {
  background-image: url("../images/2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
