/* Universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.h-font {
  font-family: "Merienda", cursive;
}
/* Navbar */
.nav-link {
  transition: 0.3s;
}
.nav-link:hover {
  color: #000;
}
.nav-link::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: #de9549;
  display: block;
  transition: 0.3s;
}
.nav-link:hover::after {
  width: 100%;
}
.btn-orange {
  background-color: #de9549;
  transition: 0.3s;
}
.btn-orange:hover {
  background-color: #cb6c2b;
}
@media (max-width: 379px) {
  .navbar-brand .NavBrand {
    display: none;
  }
}
/* Register / Login */
.registerModal,
.loginModal {
  background-image: url("images/2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Availability Form */
.AvailabilityForm {
  margin-top: -50px;
  z-index: 2;
  position: relative;
}
@media (max-width: 575px) {
  .AvailabilityForm {
    margin-top: 25px;
    padding: 0 35px;
  }
}
